/* main.css */


@charset 'utf-8';
@import url(reset.css);
@import url(mockup.css);
/* 리셋 */


/* common */
@font-face { font-family: "SFUIText-Bold"; src: url("../font/SFUIText-Bold.ttf");} 
@font-face { font-family: "SFUIText-Medium"; src: url("../font/SFUIText-Medium.ttf");} 
@font-face { font-family: "SFUIText-Light"; src: url("../font/SFUIText-Light.ttf");} 
@font-face { font-family: "SFUIText-Regular"; src: url("../font/SFUIText-Regular.ttf");} 
@font-face { font-family: "SFUIText-Semibold"; src: url("../font/SFUIText-Semibold.ttf");} 
@font-face { font-family: "SFUIText-SemiboldItalic"; src: url("../font/SFUIText-SemiboldItalic.ttf");} 

a {text-decoration: none; color: #000;}
a:hover {text-decoration: none; color: #000;}
body {width: 100%; font-family: "SFUIText-Medium"; font-size: 16px; color: #000;
        box-sizing: border-box;}
p.desc { font-size: 20px; font-family: "SFUIText-Light";}
.line {height: 3px; width: 876px; background: #6E87C2;}
.mainColor {color: #6E87C2;}
div.heading { position: relative; width: 400px; height: 400px; font-size: 50px;}
.bgNumber {position: absolute; font-family: "SFUIText-Semibold";
          font-size: 328px; color: rgba(100, 135, 194, 0.2);
          letter-spacing: -30px;}
.sectionName {position: absolute; font-family: "SFUIText-Semibold"; top: 34%; left: 110px; color: #333; opacity: 0.9;}
.nowPage {position: absolute; font-family: "SFUIText-Light"; bottom: 34%; left: 30px; color: #333; opacity: 0.9;}
.nowPage:After {content: ''; position: absolute; display: block; width: 100%; height: 3px; background: #333; top: 0px;}
.summary {position: relative;}
.summary .eng {position: absolute;
  top: 0;
  font-family: "SFUIText-SemiboldItalic"; color: #717181; font-size: 60px; opacity: 0.3;}
.summary .kor {position: absolute;
  top: 65px;
  left: 50px;
  color: #6E87C2; font-size: 60px; font-family: "SFUIText-Semibold"; font-weight: bold;}



/*레이아웃*/
header {
    width: 1830px;
    height: 220px;
    margin: 0 auto;}
#home {width: 1830px; height: 1080px; margin: 0 auto;}
#about {width: 1830px;margin: 0 auto;}
#features {width: 1830px;margin: 0 auto;}
#details {width: 1830px;margin: 0 auto;}
#outro {width: 1830px;margin: 0 auto;
  margin: 0 auto;
  padding-top: 195px;
  height: 2340px;
  background: url("../images/bg_outro.png") no-repeat 0 100%;
}

/*헤더*/
header {position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
header a {font-family: "SFUIText-Light"; font-size: 32px; color: #fff;}
header a:hover {color: #fff;}
header>h1 {float: left; padding-left: 122px;line-height: 220px; font-size: 32px; color: #fff; font-weight: bold;}
.gnb {float: right;
    padding-right: 122px;
    line-height: 220px;}
.gnb li {float: left; margin-left: 107px;}

/*홈*/
#home {background: url(../images/bg_header.png) no-repeat 0 -400px;}
#home .mockup_splash {position: absolute; top: 240px; left: 390px;}
#home .desc_area {position: absolute; top: 320px; right: 425px;}
    /* 설명 */
    #home h3 {font-size: 65px; font-weight: bold;}
    #home .desc {margin: 20px 0;}
    .desc_area {color: #fff;}
    .desc .bold {font-family: "SFUIText-Bold";}
    /*다운로드 박스*/
    .download_area {}
      .download_ios, .download_android {display: inline-block; margin-right: 20px; cursor: pointer;}
      .download_ios{background: url(../images/download_ios.png) no-repeat;
                    width: 208px; height: 75px;}
      .download_android{background: url(../images/download_android.png) no-repeat;
                    width: 208px; height: 75px;}


/*어바웃*/
#about {}
  .about_top {position: relative; height: 480px;}
  .about_top .about_heading_area {position: absolute; left: 344px;}
  .about_top .about_heading_area .logo_only {position: relative; width: 150px; height: 101px;
                                            background: url(../images/logo_blue.png) no-repeat 0 0;}
  .logo_only .txt {position: absolute; width: 100%; color: #6E87C2;font-weight: bold;}
  .logo_only .txt:first-of-type {left: 176px; font-size: 18px; }
  .logo_only .txt:last-of-type {top: 15px; left: 170px; font-size: 72px; }

  .about_top .line {position: absolute; top: 120px;}
  
  .about_top .about_desc_area .desc { position: absolute; top: 170px; left: 344px;}
  .about_top .mockup_splash {position: absolute; right: 580px; top: -150px;}
  
  .about_bottom {position: relative; height: 600px;}
  .about_bottom .about_heading_area {position: absolute; right: 344px;}
  .about_bottom .about_heading_area .heading {font-size: 51px; color: #6E87C2; font-weight: bold;}
  .about_bottom .line {position: absolute; top: 70px; right: 0;}
  .about_bottom .about_desc_area {position: absolute; right: 310px; top: 120px;}
  .about_bottom .about_desc_area .desc {text-align: right; line-height: 1.6;}
  .about_bottom .about_desc_area .desc span {font-weight: bold;}
  .about_bottom .mockup_home {position: absolute; top: -150px; left: 550px;}
  
/*피쳐*/
#features {}
.blueBox {width: 100%; height: 619px;
  box-sizing: border-box; padding: 90px 0 0 0; 
  background:url(../images/blueBox.png) no-repeat -173px -36px;}
#features h2 {font-size: 50px; color: #fff; text-align: center; padding-bottom: 45px;}
.feature_logos {width: 265px; height: 110px; background: url(../images/features_logos.png) no-repeat 0 0; margin: 0 auto; padding-bottom: 20px;}
.feature_howlogo {width: 219px; height: 67px; background: url(../images/features_plus.png) no-repeat 0 0; margin: 0 auto; padding-bottom: 30px;}
.feature_desc {color: #fff; font-size: 20px; text-align: center; line-height: 1.6;}

  /* 색상 */
  .colors_wrap {width: 100%;}
  .colors_wrap .items {display: block; text-align: center; margin: 159px 0 99px 0;}
  .colors_wrap .item {
    display: inline-block;
    width: 94px;
    height: 94px;
    line-height: 94px;
    margin-right: 50px;
    border-radius: 50px;
                    }
  .colorName {color: #fff;}
  .item:last-of-type .colorName {color: #111;}
  .colors_wrap .item .meaning {}

  .colors_wrap .item:first-of-type {background: #6E87C2;}
  .colors_wrap .item:nth-of-type(2) {background: #717181;}
  .colors_wrap .item:nth-of-type(3) {background: #333333;}
  .colors_wrap .item:nth-of-type(4) {background: #FF9400;}
  .colors_wrap .item:nth-of-type(5) {background: #FF4848;}
  .colors_wrap .item:nth-of-type(6) {background: #41C753;}
  .colors_wrap .item:last-of-type {background: #FFFFFF; border: 1px solid #555;}

  .colors_wrap .desc {text-align: center;}
  .colors_wrap .desc .mainColor {font-weight: bold; line-height: 1.1;}

  /* 폰트 */
  .font_wrap {padding-top: 172px; color: #333;}
  .cols_wrap {width: 1100px; margin: 0 auto; display: flex;}
  .cols_wrap .font_ex {font-size: 112px; font-weight: bold;} 
  .cols_wrap .fontName {font-size: 50px;  font-family: "SFUIText-Light";}
  .cols_wrap .cols {flex:1;} 
  .cols_wrap .lang {}

  .font_wrap .col1 {}
  .font_wrap .col2 {font-size: 36px; font-family: "SFUIText-Light"; margin-top: 21px;}
  .font_wrap .col3 {font-size: 36px; font-family: "SFUIText-Light";  margin-top: 21px;}
  .font_wrap .desc {padding-top: 150px; text-align: center;}
  .font_wrap .desc .mainColor {font-weight: bold;}

  /* 아이콘 */
  .icons_wrap {position: relative; height: 1080px;margin-top: 100px;
               background: url(../images/buildings.png) no-repeat 0 0;}
  .icons_wrap h3 {font-size: 32px;}

  .icons_wrap > div {position: absolute;}
  .icons_wrap .category {top: 85px; left: 455px;}
  .icons_wrap .category:after {
    content: '';
    width: 382px; height: 56px;
    position: absolute; top: 60px; left: -110px;
    background: url(../images/icons_category.png) no-repeat 0 0;}
  .icons_wrap .drawer {top: 365px; left: 800px;}
  .icons_wrap .drawer:after {
    content: '';
    width: 285px; height: 53px;
    position: absolute; top: 60px; left: -60px;
    background: url(../images/icons_drawer.png) no-repeat 0 0;}
  .icons_wrap .etc {top: 675px; left: 1200px;}
  .icons_wrap .etc:after {
    content: '';
    width: 321px; height: 46px;
    position: absolute; top: 60px; left: -110px;
    background: url(../images/icons_etc.png) no-repeat 0 0;}

    /* --------O--------- 포인터 */
    .icons_wrap .pointer {position: absolute; 
      background: url(../images/pointer_small.png) no-repeat 0 0;
      width: 62px; height: 59px;
    }
    .icons_wrap .pointer_small_1 {top: 212px; left: 730px;}
    .icons_wrap .pointer_small_2 {top: 500px; left: 1030px; transform: rotateZ(45deg);}
    .icons_wrap .pointer_small_3 {top: 875px; left: 1450px; transform: rotateZ(-95deg);}
    
    .pointer_big {position: absolute;
                  top: 445px; left: 85px;
                  background: url(../images/pointer_big.png) no-repeat 0 0;
                  width: 169px; height: 169px;}
    .pointer_middle {position: absolute;
                  top: 845px; left: 785px;
                  background: url(../images/pointer_middle.png) no-repeat 0 0;
                  width: 113px; height: 113px;}
    
    /*---------라인*/
    .icons_wrap .line {position: absolute; width: 100%;}
    .line_1 {background: url(../images/line_blue.png) no-repeat 0 0; top: 240px; left: 0px;}
    .line_2 {background: url(../images/line_blue_2.png)no-repeat 0 0; top: 525px; left: 0px;}
    .line_3 {background: url(../images/line_blue_3.png)no-repeat 0 0; top: 900px; left: 0px;}
/*디테일*/
#details {margin-top: 210px;}
.splash-and-main_wrap {position: relative;}
.splash-and-main_wrap .summary {margin-top: -150px;  margin-left: 950px;}
.splash-and-main_wrap .mockup_splash {margin-left: 500px; margin-top: -20px;}
.splash-and-main_wrap p.desc { position: absolute; right: 400px; top: 432px;
   text-align: left; font-size: 20px; color: #717181; font-family: "SFUIText-Light";
  line-height: 3.6;}

/*1. 스플래시 , 메인*/
.splash-and-main_wrap .desc span {font-weight: bold;}

.mockup_laydownPhone {
  position: relative;
  margin-top: 200px;
    background: url("../images/mockup_laydownPhone.png") no-repeat 210px 0 ; width: 1529px; height: 929px;}

  .mockup_laydownPhone .desc {position: absolute; font-family: "SFUIText-Light"; font-size: 20px;}
  .mockup_laydownPhone .desc:nth-of-type(1) {
              top: -10px; right: 620px;
              text-indent: 50px;
              background: url("../images/path_1.png") no-repeat 100% 40px;
              width: 179px; height: 231px;}
  .mockup_laydownPhone .desc:nth-of-type(2) {
    padding-top: 170px;
    text-indent: 101px;
              top: 285px; right: -165px;
              background: url("../images/path_2.png") no-repeat 0 0;
              width: 300px;
            }
  .mockup_laydownPhone .desc:nth-of-type(3) {
    padding-top: 170px;
    text-indent: 80px;
    top: 405px; right: 25px;
              background: url("../images/path_2.png") no-repeat 0 0;
              width: 300px;
  
  }
  .mockup_laydownPhone .desc:nth-of-type(4) {
    padding-top: 170px;
    text-indent: 80px;
    top: 625px; right: 410px;
              background: url("../images/path_2.png") no-repeat 0 0;
              width: 300px;
  
  }

  .mockup_home_laydown {position: absolute;
            background: url("../images/mockup_home_laydown.png") no-repeat 0 0;
            width: 1643px; height: 1040px;
            top: -100px;
            right: -210px;}

    /* 2. 알람, 캘린더 */
    .alarm-and-calender_wrap {position: relative; margin-top: 200px; height: 567px;
    }
    .alarm-and-calender_wrap .heading {position: absolute; right: 160px; top: 62px;}
    .alarm-and-calender_wrap .nowPage{ width: 409px; left: -9px;}

    .alarm-and-calender_wrap .summary {position: absolute; width: 600px; top: 0; left: 126px;}
    .alarm-and-calender_wrap .desc {font-size: 20px; color: #717181; line-height: 3.6; padding-top: 270px; padding-left: 231px;}
    .alarm-and-calender_wrap .mainColor {font-family: "SFUIText-Semibold"; font-weight: bold;}

    .alarm-and-calender_wrap .mockup_alarm,
    .alarm-and-calender_wrap .mockup_home, 
    .alarm-and-calender_wrap .mockup_home2 {position: absolute; top: 0; text-align: center; padding-top: 620px; font-size: 25px; font-family: "SFUIText-Light"; color: #fff;
            transform: translateX(-50%);}

    .alarm-and-calender_wrap .mockup_home {background-position-y: 20px;}


    .alarm-and-calender_wrap .mockup_alarm {top: 800px; left: 20%; z-index: 5;}
    .alarm-and-calender_wrap .mockup_home  {top: 650px; left: 50%; z-index: 5;}
    .alarm-and-calender_wrap .mockup_home2 {top: 500px; left: 80%; z-index: 5;}

    /* 3.마이페이지, 채팅 */
     /*블루 배경*/
    .mypage-and-chatting_wrap {
      position: relative;
      background: url("../images/bg_slide.png") no-repeat -137px 0; width: 1830px; height: 1848px;}
    .mypage-and-chatting_wrap .heading {position: absolute; bottom: 500px; left: calc(50% - 190px);}
    .mypage-and-chatting_wrap .heading span {color: #fff;}
    .mypage-and-chatting_wrap .nowPage {width: 449px; margin: 0px 0 0 -65px; text-indent: 0px;} 
    .mypage-and-chatting_wrap .nowPage:After {background: #fff;}
    .mypage-and-chatting_wrap .bgNumber {color: #fff; opacity: 0.2;}

    .mypage-and-chatting_wrap .mockup_mypage,
    .mypage-and-chatting_wrap .mockup_drawer,
    .mypage-and-chatting_wrap .mockup_chatting {position: absolute; top: calc(75% + -55px);
      color: #333; font-size: 25px; font-family: "SFUIText-Light";
    }

    .mypage-and-chatting_wrap .mockup_mypage {left: calc(50% - 435px); text-indent: 65px; padding-top: 825px;}
    .mypage-and-chatting_wrap .mockup_drawer {top: calc(75% + 5px); left: calc(50% - 169.5px);}
    .mypage-and-chatting_wrap .mockup_chatting {left: calc(50% + 125px); text-indent: 218px; padding-top: 825px;}

    /* 4. 지도 */
    .maps_wrap {
      margin: 550px 0;
    }

    .maps_wrap .heading {position: absolute; right: 230px; top: 85px;}
    .maps_wrap .nowPage {margin-left: 106px;}
    
      /* 회갈색배경 */
      .maps_wrap .row:first-of-type {
        position: relative;
        height: 1650px;
        background: rgba(112, 112, 112, 0.08);
        

      }

      .maps_wrap .row:first-of-type .summary {position: absolute; top: 249px; left: 162px; width: 730px;}

      .maps_wrap .row:first-of-type .desc {font-size: 20px; font-family: "SFUIText-Light"; color: #717181; line-height: 3.2;
        position: absolute; top: 417px; left: 223px;} 

      .line_mapDesc {
        position: absolute;
        top: 511px;
        left: 659px;
        z-index: 5;
        background: url("../images/line_mapDesc.png") no-repeat 0 0; width: 127px; height: 171px;}


      .maps_wrap .row:first-of-type .mockup_filter,
      .maps_wrap .row:first-of-type .mockup_map,
      .maps_wrap .row:first-of-type .mockup_info {position: absolute; top: 605px; padding-top: 790px; text-align: center;}

      .maps_wrap .row:first-of-type .mockup_map {text-align: left; text-indent: 215px; padding-top: 837px;}

      .maps_wrap .row:first-of-type .mockup_filter {left: calc(23% - 186.5px);}
      .maps_wrap .row:first-of-type .mockup_map {top: 565px; left: calc(50% - 233px);}
      .maps_wrap .row:first-of-type .mockup_info {left: calc(77% - 186.5px);}

      .maps_wrap .row:first-of-type .mockupTitle {font-size: 25px; color: #717181; font-family: "SFUIText-Light";}
      /* 흰배경 */
      .maps_wrap .row:last-of-type {
        position: relative;
        height: 917px;
        background: #fff;
      }

      .maps_wrap .row:last-of-type .summary {
        position: absolute;
        right: 249px; top: 265px;
        width: 742px;}

      .maps_wrap .row:last-of-type .desc {font-size: 20px;  font-family: "SFUIText-Light"; color: #717181; line-height: 3.2;
        position: absolute; right: 337px; top: 425px;}

      .maps_wrap .row:last-of-type .mockup_findPath {position: absolute; top: 348px; left: 234px; text-align: center; padding-top: 800px;}
      .maps_wrap .row:last-of-type .mockup_transfer {position: absolute; top: 626px; left: 715px; text-align: center; padding-top: 800px;}

      .maps_wrap .row:last-of-type .mockupTitle {font-size: 25px; color: #717181; font-family: "SFUIText-Light";}
      .maps_wrap .row:last-of-type .mockupDesc {font-size: 24px; color: #717181; font-family: "SFUIText-Light";
        position: absolute;
        background: url("../images/line_last.png") no-repeat 0 50%;
        text-indent: 130px;
      top: 1243px;
    left: 1087px;}

      .mockup_findPath .mockupTitle {}
      .mockup_transfer .mockupTitle {}
    /*아웃트로*/
    #outro {
      position: relative;
      overflow: hidden;

    
    }
    #outro .row{
      position: relative;
      width: 100%;
      height: 1016px;
      background: url("../images/logo_outro.png") no-repeat 50% 20%;}

      .byebye {position: absolute; top: 50%; left: calc(50% - 466.795px); font-size: 87px; opacity: 0.3; color: #717181;}
      .mockup_outro {position: absolute; bottom: 0; left: calc(50% - 1065px);}
      