/* main.css */


@charset 'utf-8';
@import url(reset.css);
@import url(mockup.css);
/* 리셋 */


/* common */
@font-face { font-family: "SFUIText-Bold"; src: url("../font/SFUIText-Bold.ttf");} 
@font-face { font-family: "SFUIText-Medium"; src: url("../font/SFUIText-Medium.ttf");} 
@font-face { font-family: "SFUIText-Light"; src: url("../font/SFUIText-Light.ttf");} 
@font-face { font-family: "SFUIText-Regular"; src: url("../font/SFUIText-Regular.ttf");} 
@font-face { font-family: "SFUIText-Semibold"; src: url("../font/SFUIText-Semibold.ttf");} 
@font-face { font-family: "SFUIText-SemiboldItalic"; src: url("../font/SFUIText-SemiboldItalic.ttf");} 

a {text-decoration: none; color: #000;}
a:hover {text-decoration: none; color: #000;}
body {width: 100%; font-family: "SFUIText-Medium"; font-size: 16px; color: #000;
        box-sizing: border-box;}
p.desc { font-size: 20px; font-family: "SFUIText-Light";}
.line {height: 3px; width: 876px; background: #6E87C2;}
.mainColor {color: #6E87C2;}
div.heading { position: relative; width: 400px; height: 400px; font-size: 50px;}
.bgNumber {position: absolute; font-family: "SFUIText-Semibold";
          font-size: 328px; color: rgba(100, 135, 194, 0.2);
          letter-spacing: -30px;}
.sectionName {position: absolute; font-family: "SFUIText-Semibold"; top: 34%; left: 110px; color: #333; opacity: 0.9;}
.nowPage {position: absolute; font-family: "SFUIText-Light"; bottom: 34%; left: 30px; color: #333; opacity: 0.9;}
.nowPage:After {content: ''; position: absolute; display: block; width: 100%; height: 3px; background: #333; top: 0px;}
.summary {position: relative;}
.summary .eng {position: absolute;
  top: 0;
  font-family: "SFUIText-SemiboldItalic"; color: #717181; font-size: 60px; opacity: 0.3;}
.summary .kor {position: absolute;
  top: 65px;
  left: 50px;
  color: #6E87C2; font-size: 60px; font-family: "SFUIText-Semibold"; font-weight: bold;}



/*레이아웃*/
header {
    width: 1830px;
    height: 220px;
    margin: 0 auto;}
#home {width: 1830px; height: 1080px; margin: 0 auto;}
#about {width: 1830px;margin: 0 auto;}
#features {width: 1830px;margin: 0 auto;}
#details {width: 1830px;margin: 0 auto;}
#outro {border: 1px solid red;width: 1830px;margin: 0 auto;}

/*헤더*/
header {position: fixed; top: 0; left: 50%; transform: translateX(-50%);}
header a {font-family: "SFUIText-Light"; font-size: 32px; color: #fff;}
header a:hover {color: #fff;}
header>h1 {float: left; padding-left: 122px;line-height: 220px; font-size: 32px; color: #fff; font-weight: bold;}
.gnb {float: right;
    padding-right: 122px;
    line-height: 220px;}
.gnb li {float: left; margin-left: 107px;}

/*홈*/
#home {background: url(../images/bg_header.png) no-repeat 0 -400px;}
#home .mockup_splash {position: absolute; top: 240px; left: 390px;}
#home .desc_area {position: absolute; top: 320px; right: 425px;}
    /* 설명 */
    #home h3 {font-size: 65px; font-weight: bold;}
    #home .desc {margin: 20px 0;}
    .desc_area {color: #fff;}
    .desc .bold {font-family: "SFUIText-Bold";}
    /*다운로드 박스*/
    .download_area {}
      .download_ios, .download_android {display: inline-block; margin-right: 20px; cursor: pointer;}
      .download_ios{background: url(../images/download_ios.png) no-repeat;
                    width: 208px; height: 75px;}
      .download_android{background: url(../images/download_android.png) no-repeat;
                    width: 208px; height: 75px;}


/*어바웃*/
#about {}
  .about_top {position: relative; height: 480px;}
  .about_top .about_heading_area {position: absolute; left: 344px;}
  .about_top .about_heading_area .logo_only {position: relative; width: 150px; height: 101px;
                                            background: url(../images/logo_blue.png) no-repeat 0 0;}
  .logo_only .txt {position: absolute; width: 100%; color: #6E87C2;font-weight: bold;}
  .logo_only .txt:first-of-type {left: 176px; font-size: 18px; }
  .logo_only .txt:last-of-type {top: 15px; left: 170px; font-size: 72px; }

  .about_top .line {position: absolute; top: 120px;}
  
  .about_top .about_desc_area .desc { position: absolute; top: 170px; left: 344px;}
  .about_top .mockup_splash {position: absolute; right: 580px; top: -150px;}
  
  .about_bottom {position: relative; height: 600px;}
  .about_bottom .about_heading_area {position: absolute; right: 344px;}
  .about_bottom .about_heading_area .heading {font-size: 51px; color: #6E87C2; font-weight: bold;}
  .about_bottom .line {position: absolute; top: 70px; right: 0;}
  .about_bottom .about_desc_area {position: absolute; right: 310px; top: 120px;}
  .about_bottom .about_desc_area .desc {text-align: right; line-height: 1.6;}
  .about_bottom .about_desc_area .desc span {font-weight: bold;}
  .about_bottom .mockup_home {position: absolute; top: -150px; left: 550px;}
  
/*피쳐*/
#features {}
.blueBox {width: 100%; height: 619px;
  box-sizing: border-box; padding: 90px 0 0 0; 
  background:url(../images/blueBox.png) no-repeat -173px -36px;}
#features h2 {font-size: 50px; color: #fff; text-align: center; padding-bottom: 45px;}
.feature_logos {width: 265px; height: 110px; background: url(../images/features_logos.png) no-repeat 0 0; margin: 0 auto; padding-bottom: 20px;}
.feature_howlogo {width: 219px; height: 67px; background: url(../images/features_plus.png) no-repeat 0 0; margin: 0 auto; padding-bottom: 30px;}
.feature_desc {color: #fff; font-size: 20px; text-align: center; line-height: 1.6;}

  /* 색상 */
  .colors_wrap {width: 100%;}
  .colors_wrap .items {display: block; text-align: center; margin: 159px 0 99px 0;}
  .colors_wrap .item {
    display: inline-block;
    width: 94px;
    height: 94px;
    line-height: 94px;
    margin-right: 50px;
    border-radius: 50px;
                    }
  .colorName {color: #fff;}
  .item:last-of-type .colorName {color: #111;}
  .colors_wrap .item .meaning {}

  .colors_wrap .item:first-of-type {background: #6E87C2;}
  .colors_wrap .item:nth-of-type(2) {background: #717181;}
  .colors_wrap .item:nth-of-type(3) {background: #333333;}
  .colors_wrap .item:nth-of-type(4) {background: #FF9400;}
  .colors_wrap .item:nth-of-type(5) {background: #FF4848;}
  .colors_wrap .item:nth-of-type(6) {background: #41C753;}
  .colors_wrap .item:last-of-type {background: #FFFFFF; border: 1px solid #555;}

  .colors_wrap .desc {text-align: center;}
  .colors_wrap .desc .mainColor {font-weight: bold; line-height: 1.1;}

  /* 폰트 */
  .font_wrap {padding-top: 172px; color: #333;}
  .cols_wrap {width: 1100px; margin: 0 auto; display: flex;}
  .cols_wrap .font_ex {font-size: 112px; font-weight: bold;} 
  .cols_wrap .fontName {font-size: 50px;  font-family: "SFUIText-Light";}
  .cols_wrap .cols {flex:1;} 
  .cols_wrap .lang {}

  .font_wrap .col1 {}
  .font_wrap .col2 {font-size: 36px; font-family: "SFUIText-Light"; margin-top: 21px;}
  .font_wrap .col3 {font-size: 36px; font-family: "SFUIText-Light";  margin-top: 21px;}
  .font_wrap .desc {padding-top: 150px; text-align: center;}
  .font_wrap .desc .mainColor {font-weight: bold;}

  /* 아이콘 */
  .icons_wrap {position: relative; height: 1080px;margin-top: 100px;
               background: url(../images/buildings.png) no-repeat 0 0;}
  .icons_wrap h3 {font-size: 32px;}

  .icons_wrap > div {position: absolute;}
  .icons_wrap .category {top: 85px; left: 455px;}
  .icons_wrap .category:after {
    content: '';
    width: 382px; height: 56px;
    position: absolute; top: 60px; left: -110px;
    background: url(../images/icons_category.png) no-repeat 0 0;}
  .icons_wrap .drawer {top: 365px; left: 800px;}
  .icons_wrap .drawer:after {
    content: '';
    width: 285px; height: 53px;
    position: absolute; top: 60px; left: -60px;
    background: url(../images/icons_drawer.png) no-repeat 0 0;}
  .icons_wrap .etc {top: 675px; left: 1200px;}
  .icons_wrap .etc:after {
    content: '';
    width: 321px; height: 46px;
    position: absolute; top: 60px; left: -110px;
    background: url(../images/icons_etc.png) no-repeat 0 0;}

    /* --------O--------- 포인터 */
    .icons_wrap .pointer {position: absolute; 
      background: url(../images/pointer_small.png) no-repeat 0 0;
      width: 62px; height: 59px;
    }
    .icons_wrap .pointer_small_1 {top: 212px; left: 730px;}
    .icons_wrap .pointer_small_2 {top: 500px; left: 1030px; transform: rotateZ(45deg);}
    .icons_wrap .pointer_small_3 {top: 875px; left: 1450px; transform: rotateZ(-95deg);}
    
    .pointer_big {position: absolute;
                  top: 445px; left: 85px;
                  background: url(../images/pointer_big.png) no-repeat 0 0;
                  width: 169px; height: 169px;}
    .pointer_middle {position: absolute;
                  top: 845px; left: 785px;
                  background: url(../images/pointer_middle.png) no-repeat 0 0;
                  width: 113px; height: 113px;}
    
    /*---------라인*/
    .icons_wrap .line {position: absolute; width: 100%;}
    .line_1 {background: url(../images/line_blue.png) no-repeat 0 0; top: 240px; left: 0px;}
    .line_2 {background: url(../images/line_blue_2.png)no-repeat 0 0; top: 525px; left: 0px;}
    .line_3 {background: url(../images/line_blue_3.png)no-repeat 0 0; top: 900px; left: 0px;}
/*디테일*/
#details {margin-top: 210px;}
.splash-and-main_wrap {position: relative;}
.splash-and-main_wrap .summary {margin-top: -150px;  margin-left: 950px;}
.splash-and-main_wrap .mockup_splash {margin-left: 500px; margin-top: -20px;}
.splash-and-main_wrap p.desc { position: absolute; right: 400px; top: 432px;
   text-align: left; font-size: 20px; color: #717181; font-family: "SFUIText-Light";
  line-height: 3.6;}


.splash-and-main_wrap .desc span {font-weight: bold;}

/*아웃트로*/